@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: rgb(92,219,149);
    background: linear-gradient(200deg, rgba(92,219,149,1) 0%, rgba(0,0,0,1) 100%);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
}

.topnav {
    background: transparent;
    overflow: hidden;
    font-family: 'Baloo Thambi 2', cursive;
    padding-left: 100px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding: 20px 30px;
    float: left;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    font-size: medium;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background: white;
    color: #379683;
    /* border-radius: 20%; */
  }
  #menuToggle{
    display: none;
}

@media only screen and (max-width: 992px) {
  h1 a
  {
      top: 18%;
  }

  .topnav
  {
      padding: 0;
  }
  .topnav a {
  padding: 20px 10px;
  }
}
@media only screen and (max-width: 800px) {

  body{
    background: white;
  }
  .edu-sec{
    top: 20%;
  }
}

@media only screen and (max-width: 600px) {
    .topnav{
        display: none;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        
        z-index: 1;
        font-family: 'Baloo Thambi 2', cursive;
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle a {
        text-decoration: none;
        color: white;
      
        transition: color 0.3s ease;
      }
      
      #menuToggle a:hover {
        color: rgba(255,255,255,.7);
      }
      
      #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
      
        cursor: pointer;
      
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
      
        -webkit-touch-callout: none;
      }
      
      /*
       * Just a quick hamburger
       */
      #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
      
        background: #cdcdcd;
        border-radius: 3px;
      
        z-index: 1;
      
        transform-origin: 4px 0px;
      
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }
      
      #menuToggle span:first-child {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      
      #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
      }
      
      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      #menu {
        position: absolute;
        width: 150px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
      
        background: #379683;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
      
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
      
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      }
      
      #menu li {
        padding: 10px 0;
        font-size: 22px;
      }

      #menuToggle input:checked ~ ul {
        transform: none;
      }
}

.internship-heading {
    margin: 0;
    text-align: center;
    font-size: 2vw;
    color: white;
    /* text-shadow: 2px 2px 3px rgb(155, 155, 155); */
    position: absolute;
    top: 5%;
    left: 40%;
}
.internship-app{
    background: rgb(92,219,149);
    background: linear-gradient(200deg, rgba(92,219,149,1) 0%, rgba(0,0,0,1) 100%);

}
.title {
    font-size: x-large;
  }
  
  li {
    margin: 1% 0;
  }
  .paper{
    width: 50%;
  }
  .paper-link{
      color: white;
  }
  .samsung-logo {
    float: left;
    position: absolute;
    left: 40%;
    top: 35%;
  }
  
  .iit-logo {
    width: 7%;
    float: right;
    position: absolute;
    left: 54%;
    top: 50%;
  }
  
  .wwf-logo {
    width: 5%;
    position: absolute;
    top: 70%;
    left: 30%;
  
  }
  
  .changepay-logo {
    width: 10%;
    position: absolute;
    top: 80%;
    left: 50%;
  
  }
  
  .intern-logo {
    width: 20%;
    position: absolute;
    top: 60%;
    left: 75%;
  }
  
  .about-samsung {
    width: 30%;
  }


