
  li{
    margin: 30px 0;
  }

  .skill_heading{
      margin-left: 40%;
      text-decoration: underline;
      margin-top: -2%;
      font-size: x-large;
      overflow: hidden;
  }

  .list_item {
      margin-left: 50%;
  }

.iste-logo{
    float: left;
    margin-left: 35%;
    width: 10%;
    margin-top: -8%;
    overflow: hidden;
  }

  .ecell-logo {
    width: 8%;
    margin-left: 5%;
    border-radius: 25%;
    margin-top: -45%;
    border-image: url('./ecell_logo.jpg') 20%;
    border: 2px solid black; 
    overflow: hidden; 
  }

  .svco{
      background-color: black;
      width: 11%;
      border-radius: 10%;
      margin-left: 25%;
      margin-top: -30%;
      overflow: hidden;
  }

  .svco-logo{
      width: 100%;
      display: inline;
      
  }

  .space-logo{
      width: 8%;
      margin-left: 15%;
      margin-top: 3%;
  }

  @media screen and (max-width: 992px) {
    body {
       min-width:920px; 
    }

    .list_item {
      margin-left: 5px;
  }

  .iste-logo{
    margin-left: 80%;
    width: 8%;
    margin-top: -10%;
  }

  .ecell-logo{
    margin-left: 80%;
  }

  .svco{
    margin-left: 80%;
    margin-top: -40%;
    overflow: hidden;
  }

  .space-logo{
    margin-left: 80%;
    margin-top: 10%;
  }

  .skill_heading{
    font-size: large;
  }

  .list_item{
    font-size: small;
  }
  }

  /* MOBILE SCREEN */
@media only screen and (max-width: 600px) { 
  .skill_heading{
    margin-left: 5%;
  }

  .iste-logo, .svco-logo, .space-logo, .ecell-logo{
    display: none;
  }

  .list_item {
    width: 40%;
  }

}