.education_app {
    margin-top: 40%;

}
.edu_heading {
    margin-top: 2%;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}
.edu_list {
margin-left: 35%;
}
li {
    line-height: 2em;
}

.img_woman {
    position: absolute;
    width: 25%;
    margin-top: -40%;
    margin-left: -30%;
}

.img_router {
    width: 30%;
    margin-top: -100%;
    margin-left: 60%;
}

.img_hard_drive{
    position: absolute;
    width: 10%;
    margin-top: 10%;
    margin-left: 85%;
}

@media screen and (max-width: 992px) {
    body {
       min-width:920px; 
        }

    .edu_heading {
        font-size: large;
    }

    .edu_list {
        margin-left: 28%;
        font-size: medium;
        }
    
    .img_woman{
        width: 20%;
        margin-left: -25%;
    }
    .img_hard_drive {
        display: none;
    }
    .img_router {
        width: 20%;
        margin-top: -100%;
        margin-left: 60%;
    }
}

/* MOBILE SCREEN */
@media only screen and (max-width: 600px) { 
    .img_woman{
        display: none;
    }
    .edu_list {
        margin-left: 1%;
        font-size: smaller;
        }
    
    .img_router{
        display: none;
    }
    .edu_heading{
        font-size: small;
        margin-right: 55%;
    }
}
